# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List commmonly used libraries for Data Science
* List popular Data Science Tools
* Examples of evaluating arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. scala

Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. pandas
3. ski-learn

|Data Science Tools|
--------------------
|KNIME|
|Jupyter Notebook|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335